.MSPanel{background:#fff;border:1px solid #DBDBD0;margin:5px 0;}
.MSTitle{font-weight:bold;padding:4px;border-bottom:1px solid #DBDBD0;background:#f9f9f9;}
.MSContent{padding:6px;line-height:160%;}
.imgtype{margin:0px 2px -3px 0px;border:none;}
.imgplay{margin:0px 3px -2px 0px;border:none;}